
/*文章列表悬浮阴影*/
.article,.left-col #header .profilepic img
{transition: all .6s;}
.article:hover{box-shadow: 1px 2px 20px #333;}

.left-col #header .profilepic{overflow: visible;border: 0px;}

/*左侧模块背景*/
.left-col .overlay{
  background: url("img/leftBg_01.jpg") no-repeat center !important;
  background-size: cover !important;
}





